header#masthead {
  height: 96px;
  display: flex;
  align-items: center;
	transition: .2s background-color ease;
	z-index: 9999;

	.logo .trigger {
		display: none;
	}
}

.header-bg-clean {
	background-color: transparent;

	// .logo svg {
	// 	fill: white;
	// }
}

.header-trigger {
	background-color: white !important;

	.header-cta button{
		background-color: white !important;
		border: 1px solid black;
	}

	.logo .trigger {
		display: inline-block !important;
	}

	.logo .header-clean{
		display: none;
	}
}