header#masthead {
  height: 96px;
  display: flex;
  align-items: center;
	transition: .2s background-color ease;
	z-index: 9998;

	.logo .trigger {
		display: none;
	}
}

.header-bg-clean {
	background-color: transparent;

	// .logo svg {
	// 	fill: white;
	// }
}

.header-trigger {
	background-color: white;

	.header-cta button{
		background-color: white;
		border: 1px solid black;
		transition: .3s ease-in-out;

		&:hover {
			background-color: #FFDB00;
			color: black;
			border: 1px solid transparent;
		}
	}

	.logo .trigger {
		display: inline-block !important;
	}

	.logo .header-clean{
		display: none;
	}
}