html {
  font-family: niveau-grotesk, sans-serif !important;
}

.letter-spacing-lg {
  letter-spacing: 0.12em !important;
}

.text-primary-heading {
  font-size: 2.5rem;
  line-height: 1;
}

.text-brand-purple {
  color: #873FE0;
}

.border-brand-purple {
  border-color: #873FE0;
}

.text-galaxy {
  color: #36195A;
}

.bg-galaxy {
  background-color: #36195A;
}

.border-galaxy {
  border-color: #36195A;
}

.bg-turquoise {
  background-color: #66D9EA;
}

.text-turquoise {
  color: #66d9ea;
}

.text-lavender {
  color: #C39EEF;
}

.text-granite {
  color: #656565;
}

.border-granite {
  border-color: #656565;
}
