.footer-intro {
  .socials li{
    padding-right: 14px;
    padding-top: 20px;
  }

  @media (max-width: 480px) {
    .socials li {
      padding-top: 0px;
      padding-bottom: 10px;
    }
  }
}

.footer {
  display: flex;
  
  @media (max-width: 480px) {
    display: block;

    &-list-item {
      padding: 0 !important;
      margin-bottom: 8px;
    }

    .sub-menu {
      margin-top: 10px;
    }
  }

  &-list-item {
    padding: 0 30px;
    font-weight: bold;
    font-size: 16px;
  }

  .sub-menu {
    margin-top: 20px;
    
    li {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: normal;
    }
  }

  &-cta {
    background: linear-gradient(180deg, rgba(0, 105, 63, 0) 33.86%, #002E1B 100%);
  }
}

.aux-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .aux-list-item {
    padding-right: 14px;
  }
}