.testimonials-container {
    margin: 0 auto;

    // .slick-track,
    //     .slick-list {
    //     -webkit-perspective: 2000;
    //     -webkit-backface-visibility: hidden;
    //     }
    .testimonials {
        position: relative;
        padding-bottom: 75px;
        
        
        .c-proof-card.slick-slide {
            margin-right: 15px !important;
            margin-left: 15px !important;
            width: 1280px;
            @media screen and (min-width: 991px) {
                max-width: 80vw;
            }
            // .c-proof-body {
            //     @media screen and (min-width: 768px) {
            //         padding-left: 20px;
            //     }
            // }
        }
        
    }
    .arrows-box {
        position: relative;
        max-width: 60%;
        margin: 0 auto;
        z-index: 9997;
    
        .slick-next {
            bottom: 50%;
            right: 0 !important;
            top: auto;
            width: auto;
            align-items: center;
            &:before {
                content: '';
                background: url('../images/arrow-right.png');
                background-size: 58px;
                width: 60px;
                height: 40px;
                background-repeat: no-repeat;
                display: inline-block;
            }
        }
        .slick-prev {
            bottom: 50%;
            right: 75px !important;
            top: auto;
            width: auto;
            left: auto;
            &:before {
                content: '';
                background: url('../images/arrow-left.png');
                background-size: 58px;
                width: 60px;
                height: 40px;
                background-repeat: no-repeat;
                display: inline-block;
            }
        }
    }
}